.card {
  background-color: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  width: 270px;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.card__image {
  width: 270px;
  height: 151px;
  background-position: center;
  object-fit: cover;
  cursor: pointer;
}

.card__container {
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card__title-block {
  width: 200px;
  padding-top: 14px;
}

.card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__time {
  display: flex;
  margin-top: 10px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
  align-items: center;
}

.card__delete-button {
  background-image: url('../../../images/delete-button.svg');
  margin-top: 15px;
  width: 16px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__like-button {
  width: 16px;
  background-image: url('../../../images/like.svg');
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url('../../../images/like-active.svg');
}

@media screen and (max-width: 1023px) {
  .card {
    width: 339px;
    height: 257px;
  }

  .card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 300px;
    height: 235px;
  }

  .card__image {
    width: 300px;
    height: 168px;
  }

  .card__title {
    font-size: 13px;
    line-height: 15px;
  }

  .card__time {
    margin-top: 10px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media screen and (max-width: 319px) {
  .card {
    width: 250px;
    height: 235px;
  }

  .card__image {
    width: 250px;
    height: 168px;
  }

  .card__title {
    font-size: 10px;
    line-height: 12px;
  }

  .card__time {
    margin-top: 10px;
    font-size: 8px;
    line-height: 10px;
  }
}
