.portfolio {
  box-sizing: border-box;
  padding: 0 70px 125px 70px;
}

.portfolio__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  margin-bottom: 30px;
}

.portfolio__list {
  list-style-type: none;
}

.portfolio__link {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.portfolio__link:hover {
  color: #a0a0a0;
}

.portfolio__link-border {
  border-bottom: 1px solid #424242;
  padding-bottom: 19px;
}

.portfolio__description {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__image {
  width: 28px;
  height: 18px;
}

.portfolio__image:hover {
 opacity: .6;
}

@media screen and (max-width: 1023px) {
  .portfolio {
    padding: 0 50px 90px 50px;
  }

  .portfolio__description {
    font-size: 28px;
  }

  .portfolio__image {
    padding-top: 3px;
  }
}

@media screen and (max-width: 576px) {
  .portfolio {
    padding: 0 14px 70px 14px;
  }

  .portfolio__title {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .portfolio__description {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__image {
    padding-top: 8px;
    width: 18px;
    height: 18px;
  }
}
